.navbar-logo {
    border-radius: 50%;
    margin-right: 10px;
}

Nav a {
    text-decoration: none;
    margin-right: 12px;
    color: #ffffff;
}

.active {
    color: greenyellow
}

.logout-btn {
    width: 80px;
    margin-bottom: 10px;
}


@media only screen and (max-width: 768px) {
    .mynav-item a {
        margin-bottom: 15px;
        margin-left: 20px;
    }

    .logout-btn {
        margin-left: 20px;
    }
}